In [ ]:
 understanding the variable

In [3]:
x=2
y=2
x+y

4

In [4]:
x=2.2
y=4.0
x+y

6.2

In [5]:
x=1234
y=2367
x+y

3601

In [ ]:
rules for declarion the variable:
    3 rules to be followed

In [ ]:
1. No name spaces while declaring a variable name

In [11]:
first name='amala'
print(first name)

SyntaxError: invalid syntax (<ipython-input-11-323a54310994>, line 1)

In [7]:
first_name="amala" #first scenario
print(first_name)

amala

In [8]:
first_name='amala' #second scenario
print(first_name)

amala

In [ ]:
2.variable name should not start with number

In [9]:
1name='amala'
print(1name)

SyntaxError: invalid syntax (<ipython-input-9-9a4013d78e0c>, line 1)

In [10]:
name1='supriya'  #its a valid syntax
print(name1)

supriya

In [ ]:
3. no special characters should be used while declaring the variable name

In [12]:
@firstname='sekhar'
print(@firstname)

SyntaxError: invalid syntax (<ipython-input-12-45829d0ac619>, line 1)

In [13]:
$firstname='sekhar'
print($firstname)

SyntaxError: invalid syntax (<ipython-input-13-b2dfd3a98458>, line 1)

In [14]:
a$b$c='123'
print(a$b$c)

SyntaxError: invalid syntax (<ipython-input-14-3322cec16e5e>, line 1)

In [ ]:
INTRODUCTION STR DATATYPES:

In [ ]:
3 POSSIBLE WAYS

In [15]:
name1='anusha'
name2="vanaja"
name3='lakshmi'
print(name1,name2,name3)

anusha vanaja lakshmi

In [16]:
type(name1)

str

In [17]:
type(name2)

str

In [19]:
type(name3)

str

In [20]:
full_name='naresh myada'
print(full_name)

naresh myada

In [ ]:
req: correct the name format.

In [21]:
full_name='naresh myada'
print(full_name.title())

Naresh Myada

In [ ]:
req: to print the full name in capitals case

In [22]:
print(full_name.upper())

NARESH MYADA

In [ ]:
req:to convert to small case

In [23]:
print(full_name.lower())

naresh myada